<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/new">Add another message</a>
    <ul>
      <% messages.forEach(function(message){ %>
      <pre>
          <%= JSON.stringify(message, null, 2) %>
        </pre
      >
      <% }); %>
    </ul>
  </body>
</html>
